*.py[cod]
/.hgignore~
/.gitignore~
/.travis.yml~
.hg/
/.tox/
/.coverage
/.cache
/.hgtags
/htmlcov/
*.py,cover
/.eggs/
/.idea/
/.pytest_cache/
classify_old.py

/examples/simple/settings/local_settings.py
/examples/static
/examples/db/example.db
/examples/tmp
/examples/logs
/examples/var/
/releases/
/builddocs/
/builddocs.zip
/build/
/dist/
/var/
/logs/
/src/ska.egg-info
/src/ska/contrib/plone/
/examples/simple/tmp/

seefar10_100_epochs_32px.model
seefar10_100_epochs_32px.pickle
seefar10_100_epochs_32px_cleaned.model
seefar10_100_epochs_32px_cleaned.pickle
seefar10_100_epochs_96px.model
seefar10_100_epochs_96px.pickle
seefar10_100_epochs_96px_cleaned.model
seefar10_100_epochs_96px_cleaned.pickle
seefar10_10_epochs_96px_cleaned.model
seefar10_10_epochs_96px_cleaned.pickle
seefar10_143_epochs_32px.model
seefar10_143_epochs_32px.pickle
seefar10_200_epochs_32px.model
seefar10_200_epochs_32px.pickle
seefar10_50_epochs_32px.model
seefar10_50_epochs_32px.pickle
seefar10_50_epochs_96px.model
seefar10_50_epochs_96px.pickle
seefar10_76_epochs_32px.model
seefar10_76_epochs_32px.pickle
